# Divers
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication / obfuscation
app.*.symbols
app.*.map.json

# Artéfacts de build Android (dossier android/ pas encore créé à cette étape)
/android/app/debug
/android/app/profile
/android/app/release
